<%= form_with scope: :add_album, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :artist %><br>
    <%= form.text_area :artist %>
  </p>

  
 
  <p>
    <%= form.submit %>
  </p>
<% end %>